---
BasedOnStyle: LLVM
Language: Cpp

IndentWidth: 4
TabWidth: 4
UseTab: Never

ColumnLimit: 200
ContinuationIndentWidth: 4

AccessModifierOffset: -4
IndentCaseLabels: false
IndentCaseBlocks: false
IndentGotoLabels: false
IndentPPDirectives: None

BreakBeforeBraces: Custom

BraceWrapping:
  AfterFunction: true
  AfterClass: false
  AfterControlStatement: false
  AfterEnum: false
  AfterNamespace: false
  AfterStruct: false
  AfterUnion: false
  BeforeCatch: false
  BeforeElse: false
  IndentBraces: false
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  SplitEmptyNamespace: false
  
AllowShortBlocksOnASingleLine: Never
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: InlineOnly
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false

EmptyLineBeforeAccessModifier: LogicalBlock
KeepEmptyLinesAtTheStartOfBlocks: false
MaxEmptyLinesToKeep: 1

PointerAlignment: Right
ReferenceAlignment: Right
SpaceBeforeParens: ControlStatements
SpaceBeforeRangeBasedForLoopColon: true
SpacesInParentheses: false
SpacesInSquareBrackets: false
SpaceInEmptyParentheses: false
SpacesInCStyleCastParentheses: false
SpaceAfterCStyleCast: false
SpaceBeforeAssignmentOperators: true
SpaceBeforeCpp11BracedList: false

Cpp11BracedListStyle: true
Standard: Latest

AlignAfterOpenBracket: Align
AlignOperands: Align
AlignTrailingComments: true
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false

BinPackArguments: true
BinPackParameters: true

BreakBeforeBinaryOperators: None
BreakConstructorInitializers: BeforeColon
ConstructorInitializerIndentWidth: 4

SortIncludes: false
IncludeBlocks: Preserve

NamespaceIndentation: None
FixNamespaceComments: true
